
<IfModule mod_headers.c>
  <FilesMatch "\.(js)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
# protéger le fichier db.php
<FilesMatch "\.(html|php)$">
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>

<files db.php>
order allow,deny
deny from all
</files>




#rediriger vers page de connexion
DirectoryIndex index.php

#protéger les dossiers
Options -Indexes

#page d'acceuil
RewriteEngine on
#RewriteRule ^acceuil$ index.php [L]

#redirection HTTP vers HTTPS
#RewriteCond %{SERVER_PORT} 80
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#RewriteRule . maintenance.php [L]

RewriteRule ^accueil$ index.php [L]

#authentification
RewriteRule ^page-de-connexion$ login.php [L]
RewriteRule ^jquery-login$ login-user.js [L]
RewriteRule ^page-de-connexion-controller$ loginController.php [L]
RewriteRule ^quitter$ logout.php [L]

#autres pages

RewriteRule 401 erreur/401.php
RewriteRule 403 erreur/403.php
RewriteRule 404 erreur/404.php
RewriteRule 429 erreur/429.php
RewriteRule 500 erreur/500.php
RewriteRule 503 erreur/503.php

ErrorDocument 401 /personnel/personnel/erreur/401.php
ErrorDocument 403 /personnel/erreur/403.php
ErrorDocument 404 /personnel/erreur/404.php
ErrorDocument 429 /personnel/erreur/429.php
ErrorDocument 500 /personnel/erreur/500.php
ErrorDocument 503 /personnel/erreur/503.php

RewriteRule ^erreur$ erreur.php [L]
RewriteRule ^erreur-de-connexion$ 100.php [L]
RewriteRule ^maintenance$ maintenance.php [L]

RewriteRule ^fichier_introuvable$ fichierIntrouvable.php [L]

#rediriger vers la page 404



#ErrorDocument erreur /personnel/erreur



#auth
RewriteRule ^auth-controller$ auth/controllers/authController.php [L]
RewriteRule ^signup$ auth/register.php [L]
RewriteRule ^scripts.bundle.1.js$ auth/js/register.js [L]

RewriteRule ^signin$ auth/login.php [L]
RewriteRule ^scripts.bundle.2.js$ auth/js/login.js [L]

RewriteRule ^activate-account/(.*)/(.*)$ auth/activate.php?mat=$1&code=$2 [L]
RewriteRule ^scripts.bundle.3.js$ auth/js/activate.js [L]

RewriteRule ^reset-password$ auth/reset.php [L]
RewriteRule ^scripts.bundle.4.js$ auth/js/reset.js [L]

RewriteRule ^change-password$ auth/resetPassword.php [L]
RewriteRule ^scripts.bundle.5.js$ auth/js/resetPassword.js [L]

RewriteRule ^signout$ auth/logout.php [L]


